<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_CTYDULICHDAL.Properties.Settings.QLYCTYDULICHConnectionString"
            connectionString="Data Source=KHATMAU-SR;Initial Catalog=QLYCTYDULICH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QL_CTYDULICHDAL.Properties.Settings.QL_CTYDULICHConnectionString"
            connectionString="Data Source=ADMINPC;Initial Catalog=QL_CTYDULICH;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="QL_CTYDULICHDAL.Properties.Settings.QL_CTYDULICHConnectionString1"
            connectionString="Data Source=ADMINPC;Initial Catalog=QL_CTYDULICH;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="QL_CTYDULICHDAL.Properties.Settings.QL_CTYDULICHConnectionString2"
            connectionString="Data Source=THANHHOANG;Initial Catalog=QL_CTYDULICH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QL_CTYDULICHDAL.Properties.Settings.QL_CTYDULICHConnectionString3"
            connectionString="Data Source=THANHHOANG;Initial Catalog=QL_CTYDULICH;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>